@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&display=swap');
/*general style*/
* { 
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: 'poppins', sans-serif;
}
/*header logo*/
.logo {
    padding: 1rem;
    text-align: center;
    height: 14em;
    overflow: hidden;
    background: url('../images/kitchen-nippers-logo.png') no-repeat center center;
    
}
.active {
    text-shadow: 0 0 0.6rem #fff;
}
/*navigation links*/
#nav-area {
    width: 100%;
   
   
}
.nav-list{
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem; 
}
.nav-list li {
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
}
.nav-list a:hover {
    color: rgb(172,188,195);
}
/*main image*/
#image-container{
    display: grid;
    grid-template-columns: 1fr;
}
#cook-image {
    height: 34rem;
        width: 100%;
        background: url('../images/parent-child-3.png') no-repeat center center;
        margin-left: auto;
        margin-top: 0;
        grid-column: 1;
        grid-row: 1;
}
#overlap, #overlap h2{
    color: white;
}
#overlap h3 {
    font-size: 2rem;
}
#overlap p {
    font-size: 1rem;
   }
#overlap h4 {
    font-size: 2.5rem;
    line-height: 3rem;
}
#overlap {
    font-size: 1.5rem;
    font-family: 'prompt', sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: rgb(172, 188, 195, 0.8);
    bottom: 0.6rem;
    grid-column: 1;
    grid-row: 1;
    align-self: end;    
}
/*about us section */
.about-container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16rem 16rem;
    color:rgb(22, 57, 80);
    font-size: 1.4rem;
    padding: 1.5rem;
    justify-items: center;
    align-self: center;
    column-gap: 1.5em;
    row-gap: 1.5em;
    margin:auto;
    background-color: rgba(172, 188, 195, 0.26);
}
.about-text {
    padding: 1em;
    font-size: 1rem;
    height: 14em;
    width: 14em;
    border-radius: 2em;
    border:rgba(22, 57, 80, 0.336) solid 2px;
}
.about-image {
    padding: 0 1em;
    height: 11em;
    overflow: hidden;
    margin: auto;
}
/*button to get cooking*/
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
.button-text {
    background-color: rgb(22, 57, 80);
    padding: 0.5em;
    border-radius: 1em; 
}
.button-text a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}
/*Footer - Social Media Links*/
.social-media {
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.footer-list-item {
    list-style: none;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 0 4rem;
}
.footer-list-item a {
    color: white;
    height: auto;
}
.footer-list-item a:hover {
    color: rgb(172,188,195);
}
/*target social media images directly*/
.fab {
    margin: 0;
}
/*Recipe Page*/
.date-container {
    display: flex;
    color: rgb(22, 57, 80);
    justify-content: flex-end;
    padding-right: 4rem;
    font-size: 0.4rem;
}

/*Form Sign-up Page*/
.signup-form {
    background-color: rgba(172, 188, 195, 0.26);
    padding: 1em;
    margin: auto;
    width: 60%;
    border-radius: 2em;
    color:rgb(22, 57, 80);
}
section h2 {
    text-align: center;
    padding: 1em 0;
}
.form-inside {
    background: white;
    border-radius: 2em;
    padding: 1em;
}
.form-row {
    padding: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.form-row label {
    width: auto;
    flex: 1;
    padding-right: 1em;
}
.form-text-input {
     border: 1px solid rgba(22, 57, 80, 0.349);
     border-radius: 1em;
     padding: 1em;
     flex: 3.5;
}
.submit-button {
    text-align: center;
    padding: 1em;
}
.submit-inside {
    color: white;
    background-color: rgb(22, 57, 80);
    padding: 0.5em 3em;
    border-radius: 2em;
    font-family: inherit;
    font-size: 1.3em;
}
/*Thank you message*/
.thank-you-message {
    width: 70%;
    padding: 8em;
    text-align: center;
    font-size: 1.3em;
    display: inline;
}
.thank-you-message div {
    text-align: center;
}

/*Media queries */
/*For larger screens from 1380px wide and down*/
@media screen and (max-width: 1380px) {
    #cook-image {
        background: url('../images/parent-child-2.png') no-repeat center center;
    }
/*For medium to small screens from 1060px wide and down*/
@media screen and (max-width: 1060px) {
    #cook-image {
        background: url('../images/parent-child-pour.png') no-repeat center center;
    }
    .about-container {
        grid-template-columns: 1fr ;
        grid-template-rows: 16rem;
}
}
/*For small screens from 590px wide and down*/
@media screen and (max-width: 590px) {
    .footer-list-item {
        padding: 0 2rem;  
    }
    #cook-image {
        background: url('../images/parent-child-rolling-small.png')no-repeat center center;
        height: 24em;
    }
}
#overlap {
    display: none;
}
}
/*For small screens from 420px wide and down*/
@media screen and (max-width: 420px) {
    .footer-list-item {
        font-size: 1.6rem;  
    }
    #cook-image {
        background: url('../images/parent-child-mix-smaller.png')no-repeat center center;
        height: 15em;
    }
    .nav-list a{
        font-size: 1rem;
    }
    .about-container {
        row-gap: 0.5em;
        grid-template-rows: 11rem;
    }
    .about-image {
        width: 6em;
        height: 6em;
        
        padding: 0;
    }
    .about-text {
        padding: 0.5em;
        font-size: 0.8rem;
        text-align: center;
    }
} 
/*For small screens from 370px wide and down*/
@media screen and (max-width: 370px) {
    .footer-list-item {
        padding: 0 1.5rem;
    }
    .form-row label {
        font-size: 1rem;
    }
    .form-inside {
        padding: 0;
    }
    
    .submit-inside {
        padding: 0.5em 2em;
        font-size: 1.1em;
    }
    .signup-form {
        width: auto;
    }
}
/*For small screens from 320px wide and down*/
@media screen and (max-width: 320px) {
    .nav-list a{
        font-size: 0.8rem;
    }
    .footer-list-item {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}