@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*general style*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    color: rgb(22, 57, 80);
}

/*header logo*/
.logo {
    padding: 1rem;
    text-align: center;
    height: 8em;
    background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702127/kitchen-nippers/kitchen-nippers-logo_fevkgk.png') no-repeat center center;
    width: 15em;
    margin: auto;
}

.active {
    text-shadow: 0 0 0.6rem #fff;
}

/*navigation links*/
#nav-area {
    width: 100%;


}

.nav-list {
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 1.3rem;
}

.nav-list a:hover {
    color: rgba(167, 182, 199);
}

/*main image*/
#image-container {
    display: grid;
    grid-template-columns: 1fr;
}

#cook-image {
    height: 30rem;
    width: 100%;
    background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702128/kitchen-nippers/parent-child-3_nm4zzf.png') no-repeat center center;
    margin-left: auto;
    margin-top: 0;
    grid-column: 1;
    grid-row: 1;
}

#overlap,
#overlap h2 {
    color: white;
}

#overlap h3 {
    font-size: 2rem;
}

#overlap p {
    font-size: 1rem;
}

#overlap h4 {
    font-size: 2.5rem;
    line-height: 3.6rem;
}

#overlap {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: rgba(167, 182, 199, 0.8);
    bottom: 0.6rem;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

/*about us section */
.about-container {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18rem 19rem;
    color: rgb(22, 57, 80);
    font-size: 1.4rem;
    padding: 1.5rem;
    justify-items: center;
    align-self: center;
    column-gap: 1.5em;
    row-gap: 1.5em;
    margin: auto;
    background-color: rgba(242, 244, 248);
    border-radius: 2em;
}

.about-text {
    padding: 1em;
    font-size: 1rem;
    height: auto;
    width: 14em;
    border-radius: 2em;
    border: rgba(22, 57, 80, 0.336) solid 2px;
    align-self: center;
}

.about-image {
    padding: 0 1em;
    width: 11em;
    height: 11em;
    overflow: hidden;
    margin: auto;
}

a#news-link {
    text-decoration: none;
}

/*button to get cooking*/
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.button-text {
    background-color: rgb(22, 57, 80);
    padding: 0.5em;
    border-radius: 1em;
}

.button-text a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.button-text a:hover {
    color: rgb(167, 182, 199);
}

/*Footer - Social Media Links*/
.social-media {
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

.footer-list-item {
    list-style: none;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 0 4rem;
    flex-direction: row;
}

.footer-list-item a {
    color: white;
    height: auto;
}

.footer-list-item a:hover {
    color: rgb(167, 182, 199);
}

/*Recipe Page*/
.about-recipe-container {
    background-color: rgba(242, 244, 248);
    width: 60%;
    margin: auto;
    border-radius: 2em;
    padding: 1em 2em;
}

.about-recipe-container h1 {
    font-size: 0.9rem;
    padding: 1em 1em;
    text-align: right;
}

.about-recipe-container h2 {
    color: rgb(22, 57, 80);
    font-size: 1.5rem;
    text-align: center;
}

.about-recipe-image {
    width: 10em;
    height: 10em;
    float: left;
    margin-right: 2em;
    overflow: hidden;
    background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702128/kitchen-nippers/flatbread-pan_dai63f.png') no-repeat center center;
}

.about-recipe-text {
    display: inline;
    text-align: left;
    padding-top: 1em;
}

.separator-logo {
    background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702129/kitchen-nippers/spoon-and-fork_rjvjpo.png') no-repeat center center;
    height: 5em;
}

.ingredients-container,
.instructions-container {
    text-align: center;
    background: rgba(242, 244, 248);
    border-radius: 2em;
    width: 60%;
    margin: auto;
    padding: 1em 2em;
}

.ingredients-list {
    list-style-type: none;
    padding: 1em;
}

.instructions-container {
    text-align: left;
}

.instructions-text h3 {
    text-align: center;
}

.video-container {
    width: 60%;
    margin: auto;
    background: rgba(242, 244, 248);
    border-radius: 2em;
    padding: 0;
    text-align: center;
}

/*Form Sign-up Page*/
.signup-form {
    background-color: rgba(242, 244, 248);
    padding: 1em;
    margin: auto;
    width: 60%;
    border-radius: 2em;
    color: rgb(22, 57, 80);
}

section h2 {
    text-align: center;
    padding: 1em 0;
}

.form-inside {
    background: white;
    border-radius: 2em;
    padding: 1em;
}

.form-row {
    padding: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-row label {
    width: auto;
    flex: 1;
    padding-right: 1em;
}

.form-text-input {
    border: 1px solid rgba(22, 57, 80, 0.349);
    border-radius: 1em;
    padding: 0.5em;
    flex: 3.5;
    width: 90%;
}

.submit-button {
    text-align: center;
    padding: 1em;
}

.submit-inside {
    color: white;
    background-color: rgb(22, 57, 80);
    padding: 0.5em 3em;
    border-radius: 2em;
    font-family: inherit;
    font-size: 1.3em;
    cursor: pointer;
}

.submit-inside:hover {
    color: rgb(167, 182, 199);
}

/*Thank you message*/
.thank-you-container {
    text-align: center;
    background: rgba(242, 244, 248);
    border-radius: 2em;
    width: 60%;
    margin: auto;
    padding: 1em 2em;
}

/*Media queries */
/*For larger screens from 1380px wide and down*/
@media screen and (max-width: 1380px) {
    #cook-image {
        background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702128/kitchen-nippers/parent-child-2_lrdtay.png') no-repeat center center;
    }
}

/*For larger screens from 1140px wide and down*/
@media screen and (max-width: 1140px) {

    .about-container {
        width: 85%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18rem 19rem 18rem;
    }

    #cook-image {
        background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702129/kitchen-nippers/parent-child-pour_wjytfu.png') no-repeat center center;
    }
}

/*For screens from 720px wide and down*/
@media screen and (max-width: 720px) {
    .about-container {
        grid-template-columns: 1fr;
        grid-template-rows: 16rem;
    }
}

/*For screens from 590px wide and down*/
@media screen and (max-width: 590px) {
    .footer-list-item {
        padding: 0 2rem;
    }

    #cook-image {
        background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702128/kitchen-nippers/parent-child-rolling-small_hj94uv.png')no-repeat center center;
        height: 24em;
    }

    #overlap {
        display: none;
    }

    /*recipe*/
    .about-recipe-container {
        display: flex;
        flex-direction: column;
    }

    .about-recipe-container h1 {
        font-size: 0.7rem;
        padding: 0;
    }

    .about-recipe-image {
        margin-right: 0;
        margin: auto;
    }

    body {
        font-size: 1rem;
    }

    .video-container {
        width: 100%;
    }
}

/*For screens from 425px wide and down*/
@media screen and (max-width: 425px) {

    .footer-list-item {
        font-size: 1.5rem;
        padding: 0 1rem;
    }

    #cook-image {
        background: url('https://res.cloudinary.com/rockymiss/image/upload/v1642702128/kitchen-nippers/parent-child-mix-smaller_epq52q.png')no-repeat center center;
        height: 15em;
    }

    .nav-list a {
        font-size: 0.8rem;
    }

    .about-container {
        row-gap: 0.5em;
        grid-template-rows: 11rem;
    }

    .about-image {
        width: 6em;
        height: 6em;
        padding: 0;
    }

    .about-text {
        padding: 0.5em;
        font-size: 0.8rem;
        text-align: center;
    }

    .about-recipe-container h1 {
        font-size: 0.7rem;
        text-align: center;
    }

    .form-row label {
        font-size: 1rem;
    }

    .form-inside {
        padding: 0;
    }

    .submit-inside {
        padding: 0.5em 2em;
        font-size: 1.1em;
    }

    .signup-form {
        width: auto;
    }
}