@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&display=swap');
/*general style*/
* { 
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: 'prompt', sans-serif;
}
/*header logo*/
.logo {
    padding: 1rem;
    text-align: center;
    height: 14em;
    overflow: hidden;
}
/*navigation links*/
.nav-list{
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem; 
}
.nav-list li {
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
}
.nav-list a:hover {
    color: rgb(172,188,195);
}
/*main image*/
#image-container{
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1rem 0;
}
#cook-image {
    width: 100%;
    text-align: center;
    }
#overlap, #overlap h2{
    color: white;
}
#overlap h3 {
    font-size: 2rem;
}
#overlap p {
    font-size: 1rem;
   }
#overlap h4 {
    font-size: 2.5rem;
    line-height: 3rem;
}
#overlap {
    font-size: 1.5rem;
    font-family: 'prompt', sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;

    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 1rem;
    padding-bottom: 0;
    background-color: rgb(172, 188, 195, 0.8);
    bottom: 1.8rem;
    right: 8rem;
    position: absolute;
}
/*button to get cooking*/
.button-container {
    display: flex;
    justify-content: space-around;
}
.button {
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    overflow: hidden;
    background: rgb(22, 57, 80);
    font-family: 'prompt', sans-serif;
}
.button-text a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    height: 100%;
}
.button a:hover {
    color: rgb(172,188,195); 
}
/*Footer - Social Media Links*/
.social-media {
    background-color: rgb(22, 57, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.list-item {
    list-style: none;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 0 4rem;
}
.list-item a {
    color: white;
    height: auto;
}
.list-item a:hover {
    color: rgb(172,188,195);
}
/*target social media images directly*/
.fab {
    margin: 0;
}